* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0px;
    color: white;
    background-color: rgb(0, 0, 190);
}

header h1, section h2 {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

header .container, section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    color: rgb(0, 0, 190);
}

section {
    color: black;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}